.first__p{
    margin-bottom: 1rem;
}
h1{
    font-size: 2.5rem;
}
.second__p{
    margin-top: 1rem;
    color: #fff;
}
.h3tag{
    color: var(--color-golden);
}
.third__p{
    margin-top: -1.5rem;
    color: #fff;
    margin-bottom: 2rem;
}